# Dependencies
node_modules/
dist/
dist-app/
public/

# Environment variables
.env

# SQLite Database
sqlite.db
*.sqlite
*.sqlite-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# TypeScript
tsconfig.tsbuildinfo